# **Diabetes Prediction using Logistic Regression**

# **Get Understanding about Dataset**

## **There are total 9 columns with 8 independent parameters and 1 outcome parameter**

1. **Pregnancies** - Number of times pregnant

2. **Glucose** - Oral Glucose Tolerance Test : The glucose tolerance test, also known as the oral glucose tolerance test, measures your body's response to sugar (glucose).

3. **Blood Pressure** - Blood pressure is the pressure of blood pushing against the walls of your arteries. Arteries carry blood from your heart to other parts of your body.

-- **Blood pressure is measured using two numbers:**

- The first number, called **systolic** blood pressure, measures the pressure in your arteries when your heart beats.

- The second number, called **diastolic** blood pressure, measures the pressure in your arteries when your heart rests between beats.

- **Normal : Lower than 80**
- **Stage 1 hypertension : 80-89**
- **Stage 2 hypertension : 90 or above**
- **Hypertensive crisis : 120 or above (Most people with diabetes will eventually have high blood pressure)** 

4. **Skin Thickness** - Skin thickness is primarily determined by collagen content and is increased in insulin-dependent diabetes mellitus (IDDM).

5. **Insulin** - People with type 2 diabetes or gestational diabetes need insulin therapy if other treatments haven't been able to keep blood glucose levels within the desired range. Insulin therapy helps prevent diabetes complications by keeping your blood sugar within your target range.

6. **BMI** - Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. Any increase in BMI above normal weight levels is associated with an increased risk of being diagnosed as having complications of diabetes mellitus.

7. **Diabetes Pedigree Function** - indicates the function which scores likelihood of diabetes based on family history. 

8. **Age** - indicates the age of the person (in years)

9. **Outcome** - indicates if the patient had a diabetes or not (1 = yes, 0 = no)

# **Import Library**

In [2]:
import pandas as pd

In [3]:
import numpy as np

# **Import CSV as DataFrame**

In [4]:
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Diabetes.csv')

# **Analyzing the data**

# **Displaying the first 5 rows of DataFrame**

In [5]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# **Detailed Information of DataFrame**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# **Getting the Summary Statistics**

In [7]:
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# **Column Names**

In [8]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

# **Shape of DataFrame - displays total no. of rows and cols**

In [9]:
df.shape

(768, 9)

# **Get unique values (Class or Label) in y variable**

In [10]:
df['diabetes'].value_counts()

0    500
1    268
Name: diabetes, dtype: int64

In [11]:
df.groupby('diabetes').mean()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age
diabetes,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# **Define X and Y**

## **X - (Features or Independent or Attribute Variable)**
## **Y - (Label or Dependent or Target Variable)**

In [12]:
X = df[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age',]]

In [13]:
X.shape

(768, 8)

In [14]:
X

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0              6      148         72       35        0  33.6  0.627   50
1              1       85         66       29        0  26.6  0.351   31
2              8      183         64        0        0  23.3  0.672   32
3              1       89         66       23       94  28.1  0.167   21
4              0      137         40       35      168  43.1  2.288   33
..           ...      ...        ...      ...      ...   ...    ...  ...
763           10      101         76       48      180  32.9  0.171   63
764            2      122         70       27        0  36.8  0.340   27
765            5      121         72       23      112  26.2  0.245   30
766            1      126         60        0        0  30.1  0.349   47
767            1       93         70       31        0  30.4  0.315   23

[768 rows x 8 columns]

In [15]:
y = df['diabetes']

In [16]:
y.shape

(768,)

In [17]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int64

# **Get X variables standardized**

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
mm = MinMaxScaler()

In [20]:
X = mm.fit_transform(X)

In [21]:
X

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

# **Train Test Split Data**

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, stratify = y, random_state = 202529)

In [24]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((537, 8), (231, 8), (537,), (231,))

# **Train the Model**

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr = LogisticRegression()

In [27]:
lr.fit(X_train, y_train)

LogisticRegression()

# **Model Prediction**

In [28]:
y_pred = lr.predict(X_test)

In [29]:
y_pred.shape

(231,)

In [30]:
y_pred

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0])

# **Get Probability of each predicted class**

In [31]:
lr.predict_proba(X_test)

array([[0.37133669, 0.62866331],
       [0.47994452, 0.52005548],
       [0.5582806 , 0.4417194 ],
       [0.63306346, 0.36693654],
       [0.51196175, 0.48803825],
       [0.71216516, 0.28783484],
       [0.77609618, 0.22390382],
       [0.37949613, 0.62050387],
       [0.74019308, 0.25980692],
       [0.71243995, 0.28756005],
       [0.22077358, 0.77922642],
       [0.84304697, 0.15695303],
       [0.87667311, 0.12332689],
       [0.89919611, 0.10080389],
       [0.71852137, 0.28147863],
       [0.2444943 , 0.7555057 ],
       [0.65785309, 0.34214691],
       [0.67390071, 0.32609929],
       [0.82016107, 0.17983893],
       [0.40597775, 0.59402225],
       [0.70736983, 0.29263017],
       [0.81196178, 0.18803822],
       [0.05596467, 0.94403533],
       [0.40581684, 0.59418316],
       [0.72869687, 0.27130313],
       [0.80177623, 0.19822377],
       [0.1551265 , 0.8448735 ],
       [0.88975685, 0.11024315],
       [0.73722465, 0.26277535],
       [0.32004603, 0.67995397],
       [0.51687684, 0.48312316],
       [0.39699328, 0.60300672],
       [0.55375656, 0.44624344],
       [0.55794229, 0.44205771],
       [0.87793009, 0.12206991],
       [0.13452455, 0.86547545],
       [0.83400013, 0.16599987],
       [0.25068109, 0.74931891],
       [0.70868902, 0.29131098],
       [0.90435202, 0.09564798],
       [0.57559702, 0.42440298],
       [0.80317641, 0.19682359],
       [0.76369846, 0.23630154],
       [0.65099468, 0.34900532],
       [0.60403772, 0.39596228],
       [0.65484555, 0.34515445],
       [0.40883114, 0.59116886],
       [0.88847125, 0.11152875],
       [0.65220276, 0.34779724],
       [0.77949187, 0.22050813],
       [0.74713895, 0.25286105],
       [0.79840847, 0.20159153],
       [0.29596445, 0.70403555],
       [0.44900448, 0.55099552],
       [0.16263165, 0.83736835],
       [0.46805621, 0.53194379],
       [0.27093978, 0.72906022],
       [0.9269503 , 0.0730497 ],
       [0.78984027, 0.21015973],
       [0.23652343, 0.76347657],
       [0.56404683, 0.43595317],
       [0.70510588, 0.29489412],
       [0.77716645, 0.22283355],
       [0.76524944, 0.23475056],
       [0.86697767, 0.13302233],
       [0.38197473, 0.61802527],
       [0.9273438 , 0.0726562 ],
       [0.61432594, 0.38567406],
       [0.95226379, 0.04773621],
       [0.86414043, 0.13585957],
       [0.8027253 , 0.1972747 ],
       [0.19459412, 0.80540588],
       [0.49470108, 0.50529892],
       [0.94898231, 0.05101769],
       [0.86199147, 0.13800853],
       [0.89704946, 0.10295054],
       [0.42958443, 0.57041557],
       [0.74476742, 0.25523258],
       [0.19264524, 0.80735476],
       [0.6356308 , 0.3643692 ],
       [0.60082483, 0.39917517],
       [0.35038324, 0.64961676],
       [0.29894817, 0.70105183],
       [0.87030218, 0.12969782],
       [0.82424844, 0.17575156],
       [0.88206062, 0.11793938],
       [0.65546942, 0.34453058],
       [0.71198737, 0.28801263],
       [0.50265531, 0.49734469],
       [0.65728777, 0.34271223],
       [0.69572794, 0.30427206],
       [0.92018045, 0.07981955],
       [0.78623171, 0.21376829],
       [0.5077954 , 0.4922046 ],
       [0.61941256, 0.38058744],
       [0.78886084, 0.21113916],
       [0.81503309, 0.18496691],
       [0.62090883, 0.37909117],
       [0.8065402 , 0.1934598 ],
       [0.14682187, 0.85317813],
       [0.74429539, 0.25570461],
       [0.5452904 , 0.4547096 ],
       [0.792378  , 0.207622  ],
       [0.49190772, 0.50809228],
       [0.80542963, 0.19457037],
       [0.7920442 , 0.2079558 ],
       [0.8109075 , 0.1890925 ],
       [0.90320615, 0.09679385],
       [0.6536493 , 0.3463507 ],
       [0.59781322, 0.40218678],
       [0.78258679, 0.21741321],
       [0.5284158 , 0.4715842 ],
       [0.94357468, 0.05642532],
       [0.83306231, 0.16693769],
       [0.82342593, 0.17657407],
       [0.32645936, 0.67354064],
       [0.86729458, 0.13270542],
       [0.72128173, 0.27871827],
       [0.28203049, 0.71796951],
       [0.89241646, 0.10758354],
       [0.78915992, 0.21084008],
       [0.8832341 , 0.1167659 ],
       [0.80962244, 0.19037756],
       [0.8319059 , 0.1680941 ],
       [0.30882158, 0.69117842],
       [0.58069429, 0.41930571],
       [0.67056782, 0.32943218],
       [0.71014257, 0.28985743],
       [0.69987269, 0.30012731],
       [0.43868137, 0.56131863],
       [0.76614862, 0.23385138],
       [0.42827497, 0.57172503],
       [0.30739101, 0.69260899],
       [0.28053326, 0.71946674],
       [0.82607255, 0.17392745],
       [0.51690372, 0.48309628],
       [0.64206049, 0.35793951],
       [0.84906108, 0.15093892],
       [0.12915365, 0.87084635],
       [0.60875845, 0.39124155],
       [0.45207904, 0.54792096],
       [0.89161745, 0.10838255],
       [0.87078755, 0.12921245],
       [0.38615412, 0.61384588],
       [0.82851269, 0.17148731],
       [0.70342703, 0.29657297],
       [0.43389908, 0.56610092],
       [0.7024851 , 0.2975149 ],
       [0.73673101, 0.26326899],
       [0.75612644, 0.24387356],
       [0.45502531, 0.54497469],
       [0.90116126, 0.09883874],
       [0.90475961, 0.09524039],
       [0.57943657, 0.42056343],
       [0.65483186, 0.34516814],
       [0.90567305, 0.09432695],
       [0.75534263, 0.24465737],
       [0.66293349, 0.33706651],
       [0.90919859, 0.09080141],
       [0.18615693, 0.81384307],
       [0.82656291, 0.17343709],
       [0.83946038, 0.16053962],
       [0.21143002, 0.78856998],
       [0.88070097, 0.11929903],
       [0.4934238 , 0.5065762 ],
       [0.664644  , 0.335356  ],
       [0.81362601, 0.18637399],
       [0.84298967, 0.15701033],
       [0.38317957, 0.61682043],
       [0.58848766, 0.41151234],
       [0.74417358, 0.25582642],
       [0.48698381, 0.51301619],
       [0.31256716, 0.68743284],
       [0.88220605, 0.11779395],
       [0.69145621, 0.30854379],
       [0.84140085, 0.15859915],
       [0.2289414 , 0.7710586 ],
       [0.74597671, 0.25402329],
       [0.46395438, 0.53604562],
       [0.79770331, 0.20229669],
       [0.14217561, 0.85782439],
       [0.70183681, 0.29816319],
       [0.7953876 , 0.2046124 ],
       [0.72774071, 0.27225929],
       [0.8365344 , 0.1634656 ],
       [0.43908991, 0.56091009],
       [0.45304092, 0.54695908],
       [0.83215292, 0.16784708],
       [0.89771185, 0.10228815],
       [0.8706629 , 0.1293371 ],
       [0.51563036, 0.48436964],
       [0.53488462, 0.46511538],
       [0.49638174, 0.50361826],
       [0.71918413, 0.28081587],
       [0.77396618, 0.22603382],
       [0.81802286, 0.18197714],
       [0.66856934, 0.33143066],
       [0.78461383, 0.21538617],
       [0.73237107, 0.26762893],
       [0.57468673, 0.42531327],
       [0.20303577, 0.79696423],
       [0.68114884, 0.31885116],
       [0.44902942, 0.55097058],
       [0.65669211, 0.34330789],
       [0.90928574, 0.09071426],
       [0.27337059, 0.72662941],
       [0.6945503 , 0.3054497 ],
       [0.12193075, 0.87806925],
       [0.48225313, 0.51774687],
       [0.74068335, 0.25931665],
       [0.65133251, 0.34866749],
       [0.85560131, 0.14439869],
       [0.77433473, 0.22566527],
       [0.62958728, 0.37041272],
       [0.46187087, 0.53812913],
       [0.25910601, 0.74089399],
       [0.65138596, 0.34861404],
       [0.83700348, 0.16299652],
       [0.7613274 , 0.2386726 ],
       [0.71027023, 0.28972977],
       [0.58909139, 0.41090861],
       [0.74506042, 0.25493958],
       [0.30880964, 0.69119036],
       [0.51916703, 0.48083297],
       [0.63178264, 0.36821736],
       [0.74585333, 0.25414667],
       [0.87341565, 0.12658435],
       [0.67974841, 0.32025159],
       [0.40065086, 0.59934914],
       [0.58721763, 0.41278237],
       [0.77906224, 0.22093776]])

# **Model Evaluation**

In [32]:
from sklearn.metrics import confusion_matrix, classification_report

In [33]:
print(confusion_matrix(y_test, y_pred))

[[134  16]
 [ 35  46]]

In [34]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.89      0.84       150
           1       0.74      0.57      0.64        81

    accuracy                           0.78       231
   macro avg       0.77      0.73      0.74       231
weighted avg       0.78      0.78      0.77       231

# **Future Predictions**

## *Lets select a random sample from the existing dataset as a new value*

### Steps to Follow

1. Extract a random row using **sample function**
2. Separate X and Y
3. Standardize X
4. Predict

In [35]:
X_new = df.sample(1)

In [36]:
X_new

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
598,1,173,74,0,0,36.8,0.088,38,1

In [37]:
X_new.shape

(1, 9)

In [38]:
X_new = X_new.drop('diabetes', axis = 1)

In [39]:
X_new

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
598            1      173         74        0        0  36.8  0.088   38

In [40]:
X_new.shape

(1, 8)

In [41]:
X_new = mm.fit_transform(X_new)

In [42]:
y_pred_new = lr.predict(X_new)

In [43]:
y_pred_new

array([0])

In [44]:
lr.predict_proba(X_new)

array([[0.99418575, 0.00581425]])